@page "/"

<PageTitle>Home</PageTitle>
<div class="row">
    <div class="col-md-5">
        <img src="depositphotos_194373930-stock-photo-personal-trainer-clipboard-doing-thumb.jpg" style="width:640px;border-radius:10px" />
    </div>
    <div class="col-md-7" style="padding-left:60px;position:relative;top:70px">
        <p style='font-size:67px;font-family:"Lexend"'><strong>Join the</strong></p>
        <p style='font-size:67px;font-family:"Lexend";position:relative;bottom:50px'><strong>Fitness</strong></p>
        <p style='font-size:21px;font-family:"Archivo";color:#A4A3A5;position:relative;bottom:70px'>Unlock your full potential with our state-of-the-art gym<br /> facilities, expert trainers, and a supportive community</p>
        <button style="background-color:#4C60F4;color:#B7C4F2;width:112px;border-radius:10px;height:40px;position:relative;bottom:70px;border:none">Get Started</button>
    </div>
</div>
<br /><br />
<div style="text-align:center">
    <p style="color:#79767A;font-size:21px;">Discover the benifits</p>
    <p style='font-size:63px;font-family:"Lexend"'><strong>Unleash Your Strenght</strong></p>
    <p style='font-size:25px;font-family:"Lexend";color:#868386'><strong>Redefine Your Fitness Journey: Our Gym Offers Top-Tier<br /> Equipment, Personalized Programs, and a Vibrant Community<br /> to Help You Achieve Your Wellness Goals. Upgrade Your<br /> Workout Experience Today</strong></p>
</div>
<br /><br /><br /><br />
<div style="padding-left:225px;display:flex">
    <div style="height:386px;width:332px;border:solid;border-radius:34px;border-color:#89888A;padding-left:16.6px;margin-right:27px">
        <p style='color:#1C1A1D;font-size:26px;font-family:"Archivo";position:relative;top:60px;left:20px;'>Strength Training</p>
        <br />
        <p style='line-height:25px;width:250px;color:#767376;font-size:15px;font-family:"Archivo";position:relative;top:50px;left:20px;'>Unlock Your Full Potential with Our Comprehensive Strength Training Programs. Featuring Cutting-Edge Equipment and Expert Guidance, We'll Help You Build Muscle, Increase Endurance</p>
        <p style='line-height:25px;width:250px;color:#1C1A1D;font-size:15px;font-family:"Archivo";position:relative;top:70px;left:20px;'>Weights workouts</p>
    </div>
    <div style="height:386px;width:332px;border:solid;border-radius:34px;border-color:#89888A;padding-left:16.6px;margin-right:27px">
        <p style='color:#1C1A1D;font-size:26px;font-family:"Archivo";position:relative;top:60px;left:20px;'>Yoga & Meditation</p>
        <br />
        <p style='line-height:25px;width:250px;color:#767376;font-size:15px;font-family:"Archivo";position:relative;top:50px;left:20px;'>Restore Balance and Serenity with Our Mindful Yoga and Meditation Classes. Discover the Transformative Power of These Practices to Reduce Stress, Improve Flexibility</p>
        <p style='line-height:25px;width:250px;color:#1C1A1D;font-size:15px;font-family:"Archivo";position:relative;top:95px;left:20px;'>Personal Training</p>
    </div>
    <div style="height:386px;width:332px;border:solid;border-radius:34px;border-color:#89888A;padding-left:16.6px;">
        <p style='color:#1C1A1D;font-size:26px;font-family:"Archivo";position:relative;top:60px;left:20px;'>Group Fitness Classes</p>
        <br />
        <p style='line-height:25px;width:250px;color:#767376;font-size:15px;font-family:"Archivo";position:relative;top:50px;left:20px;'>Energize Your Workout Routine with Our Diverse Range of Group Fitness Classes. From High-Intensity Interval Training to Soothing Yoga, Our Schedule Offers Something for Every Fitness </p>
        <p style='line-height:25px;width:250px;color:#1C1A1D;font-size:15px;font-family:"Archivo";position:relative;top:70px;left:20px;'>Nutrition Counseling</p>
    </div>
</div>
<br /><br /><br />
<div>
    <p style='padding-left:280px;font-size:27px;font-family:"Lexend";width:1045px;'><strong>Transform Your Body and Elevate Your Fitness with Our Comprehensive Gym Membership. Unlock Access to<br />state-of-the-art Equipment, Expert Guidance</strong></p>
</div>
<br />
<button style="background-color:#020202;color:#C1BFBB;width:112px;border-radius:5px;height:47px;position:relative;left:280px;border:none">Get Started</button>
<br /><br /><br /><br /><br /><br />
<div style="display:flex;padding-left:116px">
    <div style="width:40%">
        <p style='font-size:49px;font-family:"Lexend"'><strong>Member</strong></p>
        <p style='font-size:18px;font-family:"Archivo";color:#A4A3A5;position:relative;'>"I've never felt better! The trainers at <b>Radexx</b><br /> have helped me completely transform my body and mindset"</p>
        <p style='font-size:21px;font-family:"Archivo";color:#949194;position:relative;'>"Joining <b>Radexx</b> was the best decision<br /> I've made for my health"</p>
        <p style='font-size:21px;font-family:"Archivo";color:black;position:relative;'>- Wojtek, Member</p>
    </div>
    <div style="width:60%;padding-left:20px">
        <img src="qqa.webp" style="width:100%;border-radius:10px">
        <div style="position:relative;bottom:318px;left:20px">
            <p style='color:white;font-size:49px;font-family:"Lexend"'>Frequently<br /> Asked</p>
            <p style='color:#BEBDBB;font-size:19px;font-family:"Lexend"'>Explore our comprehensive FAQs<br />to find answers to your questions</p>
            <button style="background-color:white;color:#878689;width:125px;height:45px;border:none">View FAQs</button>
        </div>
    </div>
</div>

<div style="background-color:#F8FCFF;height:670px;position:relative;bottom:150px;display:flex;padding-left:117px;padding-top:100px">
    <div style="width:50%">
        <p style='font-size:38px;font-family:"Lexend"'><strong>Upgrade Your Fitness</strong></p>
        <p  style='font-size:18px;font-family:"Archivo";color:#A4A3A5;position:relative;'>Experience the Difference at <strong>Radexx</strong>. Our state-of-the-art<br /> facility, expert trainers, and supportive community<br /> are here to help you reach new heights in your fitness </p>
        <br />
        <button style="width:200px;border-radius:20px;font-size:19px;background-color:#F8FCFF;">&nbsp;&nbsp;&nbsp;Schedule<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Consultation</button>
        <i class="fa-regular fa-clock fa-2xl" style="position:relative;right:185px;top:13px;"></i>
        <br /><br /><br />
        <button style="width:200px;height:70px;border-radius:20px;font-size:21px;background-color:#F8FCFF;"><p style="font-size:20px;color:black;position:relative;top:6px;left:20px">Nutrition Tips</p><p style="font-size:14px;color:#B1B0B6;position:relative;bottom:8px;left:14px">Recovery Advice</p></button>
        <i class="fa-solid fa-bell-concierge fa-2xl" style="position:relative;right:185px;top:16px;"></i>
        <br /><br /><br /><br /><br /><br />
        <p style="color:#B1B0B6">Discorver Healthier You</p>
    </div>
    <div style="width:50%">
        <img src="istockphoto-675179390-612x612.jpg" style="border-radius:12px"/>
    </div>
</div>
<div style="text-align:center">
    <p style='font-size:71px;font-family:"Lexend"'><strong>Contact Us</strong></p>
    <p style='font-size:18px;font-family:"Archivo";color:#A4A3A5;'>Ready to take the next step in your fitness journey? Reach out<br /> to our team today to learn more about our membership options, class<br /> schedules, and personalized training programs</p>
    <br />
    <p style='font-size:29px;font-family:"Lexend"'><strong>Adidas</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Puma</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Nike</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Reebok</strong></p>
</div>
<br /><br /><br /><br />
<div style="display:flex;height:400px;background-color:#3C1150; ">
    <div style="width:20%;padding-left:100px">
        <br /><br /><br /><br /><br />
        <img src="logo-no-background.png" style="width:90px;padding-left:50px"/>
        <br /><br /><br /><br /><br />
        <p style="color:#A590A4; font-size:16px">
            &nbsp;© 2024 Radexx, Inc.<br />&nbsp;All rights reserved.
        </p>
    </div>
    <div style="width:25%;padding-left:30px">
        <br /><br /><br /><br />
        <p style="color:#A590A4;font-size:16px;line-height:50px">Quick Links<br />Home<br />About<br />Classes<br />Contact</p>
    </div >
    <div style="width:25%">
        <br /><br /><br /><br />
        <p style="color:#A590A4;font-size:16px;line-height:50px">Resources<br />FAQ<br />Nutrition Tips<br />Recovery Advice<br />Blog</p>

    </div>
    <div style="width:30%">
        <br /><br /><br /><br />
        <p style="color:#A590A4;font-size:16px;line-height:50px">Connect<br />Instagram<br />Facebook<br />X<br />Linkedin</p>

    </div>
</div>