
<div style="height:70px;background-color:#040405">
    <img src="/radexx-high-resolution-logo-white-transparent.png" style="width:160px;position:relative;top:20px;left:100px;"/>
    <p style="font-size:16px;color:white;position:absolute;right:499px;top:24px">Home</p>
    <p style="font-size:16px;color:white;position:absolute;right:423px;top:24px">About</p>
    <p style="font-size:16px;color:white;position:absolute;right:332px;top:24px">Classes</p>
    <p style="font-size:16px;color:white;position:absolute;right:242px;top:24px">Contact</p>
    <button style="background-color:#4D5BEE;color:#E0E9FA;width:112px;height:40px;position:absolute;right:100px;top:15px;border:none">Join Now</button>
</div>